{% extends 'tweet/index.html' %}

{% block content %}

<div>
    <h2>Hello {{user.username}}!</h2>
    <div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="Ayoyimika17" data-related="@python_tip" data-show-count="false">Tweet</a>
    </div>

    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TEXT</th>
                    <th>CREATED AT</th>
                    <th>AUTHOR</th>
                    <th>MEDIA URL</th>
                    <th>TOTAL LIKE</th>
                    <th>TOTAL RETWEET</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in tweets %}
                <tr>
                    <td>{{tweet.id}}</td>
                    <td style="white-space: wrap;">{{tweet.tip}}</td>
                    <td>{{tweet.timeStamps}}</td>
                    <td>{{tweet.author}}</td>
                    <td>{{tweet.mediaUrl}}</td>
                    <td>{{tweet.totalLike}}</td>
                    <td>{{tweet.totalRetweet}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
{% endblock %}